!!!
html
  head
    title= page.name

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

  body
    block body 
        h1#pageName=page.name
            
        #pageContent!= page.content

        form
            input#pageId(type="hidden",value="#{page.id}")
            input#savePage(type="submit",value="save")

    // A few key dependencies, linked in order
    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")

    script(type="text/javascript",src="/bower_components/jquery/jquery.js")
    script(type="text/javascript", src="/bower_components/tinymce/js/tinymce/tinymce.js")

    script(type='text/javascript').
        $(function(){
        tinymce.init({
        selector: "h1#pageName",
        inline: true,
        toolbar: "undo redo",
        menubar: false
        });

        tinymce.init({
        selector: "#pageContent",
        inline: true,
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });

        $('#savePage').click(function(e){
        //- e.stopPropagation();
        e.preventDefault();
        $.ajax('/pages/'+$('#pageId').val(), {
            type: 'PUT',
            data: {
                name:$('#pageName').html(),
                content:$('#pageContent').html()
            }
        }).done(function(data){
            alert('saved!');
            console.log(data);
        });

        });
        });
